@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-foreground-rgb: 255, 255, 255;
  --dark-background-start-rgb: #0f172a;
  --dark-background-end-rgb: 0, 0, 0;
}

    

html body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} 

html.dark body {
  color: rgb(var(--dark-foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--dark-background-end-rgb))
    )
    rgb(var(--dark-background-start-rgb));
} 
